body {
  margin: 20px;
  font: Arial 14px;
  color: white;
  font-weight: bold;
  background-color: lightgrey;
}

#simple {
  margin: 0 auto;
  background: darkblue;
  border: solid black 2px;
  width: 40%;
  padding: 10px;
  margin-bottom: 30px;
}

#simple div.campos,
#simple div.campos2 {
  clear: both;
  margin: 10px 0;
}

#simple div.campos label {
  display: inline;
  clear: none;
  width: 20%;
  float: left;
}

#simple div.campos2 {
  padding-right: 15px;
}

#complejo {
  border: solid 2px black;
  background: #ffcb99;
  margin: 0 auto;
  width: 40%;
  padding: 10px;
}

#complejo h1 {
  font-size: 25px;
  text-align: center;
  background-color: #fe9a00;
  color: #562520;
}

#complejo .bloque label {
  clear: both;
  margin: 15px 40px 0 15px;
  float: left;
  text-align: center;
  width: 20%;
  background-color: #993401;
  padding: 3px;
}

#complejo .bloque input {
  clear: both;
  margin: 15px 0 0 0;
  width: 60%;
  padding: 3px;
}

#complejo .contenedor {
  display: inline-block;
  clear: both;
  margin: 10px 0 0 0;
  width: 100%;
}

#complejo .contenedor .bloque2 p,
.pago {
  display: block;
  background-color: #993401;
  width: 100%;
  padding: 3px;
  margin: 10px 0 10px 0;
  text-align: center;
}

#complejo .contenedor .bloque2 {
  display: inline;
  clear: none;
  width: 28%;
  padding: 10px;
  float: left;
}

#complejo .contenedor .instrucciones {
  display: block;
  clear: both;
  margin: 20px 0 0 0;
}

#complejo .contenedor .instrucciones label {
  display: block;
  background-color: #993401;
  width: 100%;
  padding: 3px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

#complejo .contenedor .instrucciones textarea {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

#complejo .contenedor .enviar {
  float: left;
  margin: 0 auto;
}

#complejo .contenedor .borrar {
  float: right;
  margin: 0 auto;
}
