* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  width: 90%;
}

.section .g1,
.section .g3,
.section .g5,
.section .g7,
.section .g9,
.section .fondo {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 633px;
  height: 300px;
}

.section .div2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section .div2 div {
  display: block;
  padding: 5px;
}

.section .div2 button {
  margin: 5px;
}

.section div img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.section .fondo {
  background-color: black;
}

.negro-blanco {
  background-color: black;
  color: white;
}

.blanco-negro {
  background-color: white;
  color: black;
}

.gris-rojo {
  background-color: gray;
  color: red;
}
