body {
  font-family: Times, serif;
  font-size: 16px;
  color: black;
}

.principal {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  border: solid 1px black;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.principal th {
  background-color: rgb(255, 255, 177);
  color: rgb(202, 202, 0);
  border-bottom: solid 1px black;
}

.principal caption {
  font-family: Arial;
  font-size: 36px;
  color: green;
  text-align: center;
}

.azulClaro {
  background-color: rgb(223, 244, 255);
}

.azulOscuro {
  background-color: rgb(198, 225, 255);
}
