* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

.titulo {
  background-color: blue;
  padding: 20px;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: green;
  margin-left: 10%;
  margin-top: 2%;
}

.definicion {
  margin-top: 2%;
  margin-left: 10%;
}

.buscar,
.buscar2 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 20%;
  border: 1px solid grey;
  padding: 15px;
}

.buscar input,
.buscar2 input {
  border: 1px solid grey;
}

.buscar select,
.buscar2 select {
  border: 1px solid grey;
  margin-left: 10px;
}

.buscar button,
.buscar2 button {
  cursor: pointer;
}

.tabla {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

table {
  width: 30%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid white;
  padding: 10px;
  text-align: center;
}
