body {
  font: 15px Arial;
  margin: 15px;
}

.container {
  display: grid;
  gap: 5px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  border: 1px solid red;
  color: white;
  margin: 30px;
}

.caja {
  margin: 5px;
  padding: 10px;
}

.rojo {
  background-color: red;
  border: 2px solid black;
  text-align: center;
  /** 
  grid-column: 1 / 3;
  **/
  grid-area: 1 / 1 / 2 / 3;
}

.verdeOscuro {
  background-color: green;
  border: 2px solid black;
  text-align: center;
}

.azulOscuro {
  background-color: blue;
  border: 2px solid black;
  text-align: center;
}

.naranja {
  background-color: orange;
  border: 2px solid black;
  text-align: center;
  /** grid-row: 2 / 4;
  grid-column: 2 / 3;
  **/
  grid-area: 2 / 2 / 4 / 3;
}

.azulClaro {
  background-color: lightskyblue;
  border: 2px solid black;
  text-align: center;
}

.verdeClaro {
  background-color: greenyellow;
  border: 2px solid black;
  text-align: center;
}

.negro {
  background-color: black;
  border: 2px solid black;
  text-align: center;
  /** 
  grid-column: 1 / 3;
  **/
  grid-area: 5 / 1 / 5 / 3;
}
