body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
  font-weight: normal;
  color: black;
  background-color: #e9ecfc;
  width: 90%;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 36px;
  font-weight: bold;
  color: red;
  text-align: center;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: blue;
  text-align: right;
  border-bottom: solid 2px blue;
}

ol {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 14px;
  font-weight: normal;
  color: blue;
  background-color: rgb(253, 240, 120);
  border: dashed 2px black;
  width: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 10%;
}

.honda1 {
  float: right;
  margin: 0 10px 10px 10px;
}

.honda2 {
  float: left;
  margin: 0 10px 0 10px;
}

.precio {
  background-color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 1px;
}

.precio p {
  text-align: center;
}

.precioResaltado {
  color: red;
}

.imagenes {
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: red;
}
