body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: black;
  margin: 20px;
  background-color: #dff5fd;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  color: #000099;
  text-align: center;
  background-color: white;
  border-top: solid 1px #000099;
  border-bottom: solid 1px #000099;
}

h2 {
  font-size: 16px;
}

.TimesRojo {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: rgb(212, 11, 11);
}

.TimesVerde {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
  font-weight: bold;
  color: green;
}

#datos_personales {
  background-color: rgb(248, 157, 157);
  font-size: 14px;
  color: #74030a;
  font-family: Arial, Times, sans-serif;
  border: solid 3px;
  padding: 15px;
  margin: 20px auto 20px auto;
  width: 50%;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
}

#formacion_academica {
  background-color: lightskyblue;
  font-size: 14px;
  color: #033d74;
  font-family: Arial, Times, sans-serif;
  border: dotted 3px;
  padding: 15px;
  margin: 20px auto 20px auto;
  width: 50%;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
}
